.tabsDisabled > li > .noFunctiontab:hover, .tabsDisabled > li > .noFunctiontab:focus{
    /*background: transparent !important;*/
    color: #222 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none !important;
    cursor: default;
}
.tabsDisabled > li.active > .noFunctiontab:hover, .tabsDisabled > li.active > .noFunctiontab:focus{
    /*background: transparent !important;*/
    color: #00BCD4 !important;
    /*border: 1px solid transparent;*/
    box-shadow: none !important;
    cursor: default;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
}